allow vendor_init proc_kernel_sched:file write;
allow vendor_init proc_dirty:file { write };
allow vendor_init proc_dirty_ratio:file { write };
allow vendor_init proc:file { write };
allow vendor_init firmware_file:file { getattr };
allow vendor_init firmware_file:file { open };
allow vendor_init firmware_file:file { read };
